.calculator {
  text-align: center;

  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

  #keypad {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    * {
      padding: 10px;
      border: 1px solid black;
    }

    .row {
      grid-column: 1 / -1;
    }

    #display {
      text-align: end;
    }

    #clear {
      background-color: red;
      color: white;
      font-weight: bold;
    }

    #equals {
      background-color: #0077ff;
      color: white;
      font-weight: bold;
    }
  }
}
